@model IEnumerable<BookViewModel>
@{
  ViewData["Title"] = "All Books";
}


@foreach (var item in Model)
{
  <h2><a asp-area="" asp-controller="Books" asp-action="Book" asp-route-id="@item.BookId">@item.Name</a></h2>
  <h3>Authors:</h3>
  <ul>
    @foreach (var auth in item.Authors)
    {
      <li>@auth.Name</li>
    }
  </ul>

}