@model IEnumerable<AuthorViewModel>
@{
  ViewData["Title"] = "All Authors";
}

@foreach (var item in Model)
{
  <h2><a asp-area="" asp-controller="Authors" asp-action="Author" asp-route-id="@item.AuthorId">@item.Name</a></h2>
  <h3>@item.Popularity</h3>

}
