@model IEnumerable<PublisherViewModel>
@{
  ViewData["Title"] = "All Publishers";
}

@foreach (var item in Model)
{
  <h2><a asp-area="" asp-controller="Publishers" asp-action="Publisher" asp-route-id="@item.PublisherId">@item.Name</a>  @item.Region</h2>
}

